<div class="container ">
    <div class="section">
        <div class="header">
            <h1>welcome to Service Booking System</h1>
            <p>Choose your user type to get started</p>
        </div>
        <div class="buttons">
            <button nz-button nzType="primary" routerLink="/register_company">
                Resgister as company 
            </button>
            <button nz-button nzType="primary" routerLink="/resgister_client">
                Resgister as client 
            </button>
        </div>
    </div>
</div>


